ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    justify-content: flex-end;
}

.menu_nav ul{
    display: flex;
    justify-content: space-evenly;
    width: 200px;
}

header{
    display: flex;
    justify-content: space-between;
}