@import'reset.css';

*::before::after{
    box-sizing: border-box;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    justify-content: flex-end;
}

html{
    overflow-y: scroll;
    scroll-behavior: smooth;
}

article{
    min-height: 100vh;
}

.menu_nav ul{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}

/* header{
    display: flex;
    justify-content: space-between;
} */

.cabecera{
    background-color: black;
    border: 4px solid grey;
    display: flex;
    padding: 0 .5rem .5rem;
    flex-direction: column;
    height: 48px;
    transition: height .5s;
    overflow: hidden;
}

#menu{
    display: none;
}

#menu:checked+.cabecera{
    height: 80px;
}

.cabecera h1{
    color: aliceblue;
    margin: .5rem;
}

.boton_enlace{
    color: aqua;
    /* padding: 2px;
    border-radius: 2px;
    border: 4px solid white; */
}

.posicion{
    border:4px solid rgb(54, 52, 52);
    background-color: white;
    cursor: pointer;
    right: 1rem;
    top: .8rem;
    font-size: 2rem;
    position: absolute;
}

.personal .foto-perfil{
    margin: .5rem;
    border-radius: 50%;
    overflow: hidden;
}

.foto-perfil img{
    width: 100%;
}

figcaption{
    font-size: .9rem;
    text-align: center;
    color: black;
    position: relative;
    left: 40px;
    top: 0;
    width: 100px;
    height: 80px;
    box-sizing: border-box;
    transition: left 4s,top 8s  ;
}

.foto-perfil:hover > figcaption{
    top: 40px;
    left:180px;
    right: 40px;
    font-size: 20px;
    color: purple;
    animation: mov 6s;
}

@media(min-width: 480px) {
    .personal{
        display: flex;
    }
    .personal p{
        width: 50%;
    }
    .cabecera{
        display: flexbox;
    }
}

