.contenedor {
  background-color: blue;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.contenido {
  height: 100px;
  width: 100px;
  background-color: red;
}
 .orden {
   order: -1;
 }
