/* @import "./reset.css"; */

*, ::before, ::after {
	box-sizing: border-box;
	text-align: center;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
	justify-content: center;
}

.menu ul{
	display: flex;
	justify-content: space-evenly;
}

header{
	display: flex;
	justify-content: space-between;
	height: 20vh;
}

body {
	justify-content: center;
	font-family: 'Open Sans', sans-serif;
}

.article{
	float: inherit;
	margin-top: 20vh;
	height: 40vh;
	
}

footer{
	height: 20vh;
	width: 100%;
	position: fixed;
	display: center;
	background-color: rgb(100, 98, 98);
}

