div{
    position: relative;
    left: 0;
    top: 0;
    box-sizing: border-box;
    color: white;
    padding: 42px;
    text-align: center;
    width: 100px;
    height: 100px;
    background-color: purple;
}

div:hover{
    animation: traslacion 3s;
    animation-direction: reverse;
    background-color: rgba(207, 80, 7, 0.918);
    color: black;

}

@keyframes traslacion{
    from{
        left: 0;
    }
    to{
        left: 500px;
    }
}