
.cartas1{
   display: flex;
   justify-content: center;
   align-items:center;
   padding: 10px;
}

.cartas2{
   display: flex;
   justify-content: center;
   align-items:center;

}

.mortyC{
   border: 4px solid blue;
   box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
   text-align: center;
   margin: 4px;
   padding: 8px;
   width: 240px;
   height: 290px;
}

.rickC{
   border: 4px solid blue;
   box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
   text-align: center;
   margin: 4px;
   padding: 4px;
   width: 240px;
   height: 330px;
}

.titulo{
   font-size: 24px;
   color: blue;
}

.contenido{
   font-size: 14px;
   color: blue;
}

.morty{
   width: 180px;
   height: 180px;
}

.rick{
   width: 180px;
   height: 180px;

}

.noche{
   text-align: center;
   display: block;
   margin-left: auto;
   margin-right: auto;
   padding: 8px;
   border: 2px solid blue;
   color: blue;
}

@media(min-width: 440px){
   .dark-mode{
      width: 6vh;
      height: 8vh;
   }
}

@media(min-width: 768px)and(width: 989px){
   .dark-mode{
      width: 14vh;
      height: 16vh;
   }
}

@media(min-width: 990px){
   .dark-mode{
      width: 20vh;
      height: 22vh;
   }
}