body div {
    position: relative;
    left: 0;
    top: 0;
    box-sizing: border-box;
    color: white;
    padding: 42px;
    text-align: center;
    width: 100px;
    height: 100px;
    background-color: purple;
    transition: left 3s ,width 3s 3s, top 3s 6s;
}

body:hover div{
    top: 100px;
    left: 100px;
    width: 400px;
    background-color: rgba(207, 80, 7, 0.918);
    color: black;

}

